<section id="torton" class="flex flex-col items-center md:flex-row h-auto bg-white text-sf-blue py-10">
       <!--Carruselo slider1-->
       <section id="slider4" class="splide w-full md:w-1/2 h-auto max-w-4xl mx-auto ml-0 md:ml-[15%] py-10 md:py-0">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <img src="src/assets/camioneta/Unidad3.png" alt="Imagen 1" class="object-cover w-full h-full rounded-lg shadow-lg">
            </li>
            <li class="splide__slide">
              <img src="src/assets/camioneta/interior 3.png" alt="Imagen 2" class="object-cover w-full h-full rounded-lg shadow-lg">
            </li>
            <li class="splide__slide">
              <img src="src/assets/camioneta/.png" alt="Imagen 3" class="object-cover w-full h-full rounded-lg shadow-lg">
            </li>
          </ul>
        </div>
      </section>

    <!-- Contenedor de texto -->
    <div class="flex flex-col w-full md:w-1/2 px-6 md:pl-10 lg:pr-[15%] pb-10 md:py-10">
        <h2 class="text-3xl md:text-4xl font-black">Camioneta</h2>
        <p class="font-medium text-gray-500 mt-2"></p>
        <ul>
            <li class="flex flex-row gap-4 items-center mt-5 pr-6">
                <i class="ri-checkbox-circle-fill text-green-500 text-2xl"></i>
                <p class="text-gray-500">Capacidad 1.5 Toneladas</p>
            </li>
            <li class="flex flex-row gap-4 items-center mt-5">
                <i class="ri-checkbox-circle-fill text-green-500 text-2xl"></i>
                <p class="text-gray-500">Tarimas 2</p>
            </li>
            <li class="flex flex-row gap-4 items-center mt-5">
                <i class="ri-checkbox-circle-fill text-green-500 text-2xl"></i>
                <p class="text-gray-500">Medidas 2.44x1.70x1.70 mt</p>
            </li>
       
            
        </ul>
        <a 
        href="https://wa.me/523313300421?text=Hola%2C%20deseo%20cotizar%20esta%20unidad%3A%0ACamioneta%0A-%20Capacidad%3A%201.5%20Toneladas%0A-%20Tarimas%3A%202%0A-%20Medidas%3A%202.44%20x%201.70%20x%201.70%20mt" 
        target="_blank" 
        rel="noopener noreferrer"
        class="mt-6 inline-block bg-sf-blue text-white px-8 py-3 rounded-lg text-lg font-medium shadow-md w-full md:w-auto text-center hover:bg-[#103A62]">
        Cotizar Unidad
      </a>
      
    </div>
</section>
